.joCard {
    border: 3px solid white;
    border-radius: 5px;
    background: white;
    margin: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: black;
    }

    img {
        height: 100%;
        max-width: 100%;
        margin: 5px;
    }
}

.JoTopBins {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.joCardContainer {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TurnMenuItem {
    flex-grow: 1;
    flex-shrink: 0;
    background-color: white;
    min-width: 50px;
    max-width: 100px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TurnBar {
    height: 5rem;
    width: 90%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    background: rgba(128, 128, 128, 0.413);
    display: flex;
    align-items: stretch;

    
    .Menu {
        display: flex;
        align-items: stretch;
        flex-wrap: nowrap;
        overflow-x: scroll;
        flex-grow: 1;
    }

    .Leaderboard {
        flex-grow: 0;
        flex-shrink: 0;
        margin: 15px;
        align-self: flex-end;
        height: calc(100% - 30px);
    }
}

body {
    overflow: hidden;
    background: beige;
}

.ScoreBoard {
    .ant-modal-body {
        padding: 0;
    }
}